<!--This is the login layout-->
<!DOCTYPE html>
<html class="login_html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../sources/img/Logo.png">
    <title>Force X Velocity</title>
    <link rel="stylesheet" href="/sources/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/sources/css/site.css">
    <style>

    </style>
</head>
<body class="container-fluid p-0">
    <video muted="" data-autoplay=""
           loop="loop" autoplay="autoplay" src="/sources/video/login_video.mp4"
           class="bg-video" id="video-tvc" data-object-fit="">
    </video>
    <div class="bg-video bg-video-shadow">
    </div>
    <img src="/sources/img/Logo.png" style="width:20%" alt=""/>
    @RenderBody()
    <script src="/sources/lib/jquery/dist/jquery.js"></script>
    <script src="/sources/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/sources/js/site.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>
