@model FXV.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<style>
    #error {
        width: 80%;
        margin: auto;
        margin-top: 10%;
    }
</style>
<div id="error">
    <h1 class="text-FXV">Unauthorized Request.</h1>
    <h2 class="text-white">Your are not autorized to view this page, please contact our administrator.</h2>
</div>