@model FXV.ViewModels.TeamBuilder
<!--OrganizationTeam Create-->
<div id="loading-panel" class="loading-panel" hidden="hidden">
    <div class="col-12 text-center loading-panel-items">
        <h4 class="text-white">Loading...</h4>
        <h4 class="text-white">It might take a while to update Team information...</h4>
        <img style="width: 2rem;
        height: 2rem" src="/sources/img/loading.gif" alt="">
    </div>
</div>
<div class="content p-0 mt-3" id="page-info" data-page-from-Controller="OrganizationInfo" data-page-from-Action="OrganizationInfo" data-page-required-id="@TempData["Org_ID"]">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header p-0 card-header-secondary">
                        <h2 class="medium-bold card-title text-left text-FXV">Create Team</h2>
                    </div>
                    <form id="CreateOrganizationTeams" class="card-body col-12 row" asp-action="CreateCombines" asp-controller="Home" method="post" enctype="multipart/form-data">
                        <div class="col-12 col-xl-7 row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group col-12">
                                <label asp-for="Name" class="control-label text-white"></label>
                                <input asp-for="Name" class="form-control" placeholder="Team Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <label asp-for="Location" class="control-label text-white"></label>
                                <input asp-for="Location" class="form-control" placeholder="Location" />
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <label asp-for="Description" class="control-label text-white"></label>
                                <input asp-for="Description" class="form-control" placeholder="Description" multiple />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <label class="control-label text-white">Manager Name (Please select from the drop down list)</label>
                                <input autocomplete="off" asp-for="Manager_Name" class="form-control" placeholder="Manager Name" onkeyup="input_onkeyup(this,'SearchUsers')" onfocus="input_onfocus(this)" onfocusout="input_onfocusout(this)" multiple />
                                <span asp-validation-for="Manager_Name" class="text-danger"></span>
                                <ul class="border border-dark col-6 list-group p-0" id="Managers_List" hidden></ul>
                                <div hidden>
                                    <input asp-for="Owner.Id" hidden />
                                </div>
                            </div>
                            <div class="col-12 row ml-0 mr-0 pl-0 pr-0">
                                <div class="form-group col-12">
                                    <div class="card col-12 p-3">
                                        <label class="control-label text-white">Members (Please select from the drop down list)</label>
                                        <table id="members">
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div style="margin-top:10px" class="btn btn-light text-capitalize" onclick="addMember()">
                                            <a href="javascript:void(0)">
                                                Add Team Members<i class="material-icons">
                                                    add
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-5 pt-4">
                            <img id="teamImg" class="w-100" src="/sources/img/teamImg.png" />
                            <div class="pt-2 row">
                                <h3 asp-for="Image" class="control-label text-white col-12 ml-2">Upload Team Image</h3>
                                <input asp-for="Image" type="file" class="col-12 ml-2" name="image" onchange="imgCheck(this)" />
                                <span asp-validation-for="Image" class="col-12 ml-2 text-danger"></span>
                            </div>
                        </div>
                    </form>
                    <div class="col-2 offset-5">
                        <button class="btn btn-warning-customized w-100" type="submit" onclick="submit(@TempData["Org_ID"])">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/sources/js/orgTeamBuilderHandler.js"></script>
<script src="/sources/js/input_search.js"></script>
