@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    Layout = "_Layout";
}
<!--Combines-->
<div id="deleteConfirmPopUp" v-bind:class="{modal: true, 'display-block': Show}">
    <!-- Modal content -->
    <fieldset class="mt-5 col-10 offset-1">
        <legend class="text-FXV text-center w-auto font-2rem medium-bold-400">Delete</legend>
        <h3 class="text-FXV medium-bold-400 text-center pt-2 pb-5">Are you sure?</h3>
        <div class="mb-4 text-center text-capitalize">
            <button class="btn btn-outline-secondary mr-5 medium-bold-400" v-on:click="DeleteCombineConfirmed()">Yes</button>
            <button class="btn btn-outline-secondary ml-5 medium-bold-400" v-on:click="DeleteCancelled()">No,Take me back</button>
        </div>
    </fieldset>
</div>
<div class="content p-0 mt-3">
    <div class="container pb-5">
        <h2 class="medium-bold text-left font-weight-bold text-FXV">All Combines</h2>
        <div class="container">
            <div id="combine-menu" class="row container">
                <div class="mt-1">
                    <input v-on:keyup="Search()" v-model="SearchText" placeholder="Search Name..." />
                </div>
                @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                {
                    <span class="text-muted font-2rem ml-2 mr-2 menu-divider-vertical">|</span>
                    <div>
                        <a class="btn btn-secondary pt-1 pb-1 text-capitalize" asp-action="Create" >Add</a>
                    </div>
                }
            </div>
            <div class="mt-4 list" id="list">
                <div is='combine-list-item' v-for='(list,index) in lists' v-bind:key='list.id' v-bind:name="list.name" v-bind:description="list.description"
                     v-bind:tested="list.tested" v-bind:combine_Id="list.combine_id" v-bind:img_path="list.img_path" v-bind:gender="list.gender"
                     v-bind:arrow_down="list.arrow_down" v-bind:details="list.details" v-bind:arrow_up="list.arrow_up" v-bind:detail_hide="list.detail_hide" v-on:get_detail="GetDetail(list.combine_id,list, $event)"></div>
                <p id="more" class="m-auto text-center text-white pt-3 pointer" v-on:click.self.prevent="LoadMore($event)">More</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/sources/js/combinesPageHandler.js"></script>
